<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TalentProgramming"
        tools:targetApi="31">
        <activity
            android:name=".Ch_16_SharedPreferences.MainActivity_Ch16"
            android:exported="false" />
        <activity
            android:name=".Ch_16_SharedPreferences.LoginActivity_Ch16"
            android:exported="false" />
        <activity
            android:name=".Ch_16_SharedPreferences.SplashActivity_Ch16"
            android:exported="true" />
        <activity
            android:name=".Ch_13_Customizations.MainActivity_Ch_13"
            android:exported="true" />
        <activity
            android:name=".Ch_9_Intents.SecondActivity_Ch9"
            android:exported="true" />
        <activity
            android:name=".Ch_9_Intents.MainActivity_Ch9"
            android:exported="true" />
        <activity
            android:name=".Ch_12_RecyclerView.RecyclerViewActivity_Homework"
            android:exported="true" />
        <activity
            android:name=".Ch_12_RecyclerView.RecyclerViewActivity_Practice"
            android:exported="true" />
        <activity
            android:name=".Ch_11_ListView.ListViewActivity_Homework"
            android:exported="true" />
        <activity
            android:name=".Ch_11_ListView.ListViewActivity_BaseAdapter"
            android:exported="true" />
        <activity
            android:name=".Ch_11_ListView.ListViewActivity_ArrayAdapter"
            android:exported="true" />
        <activity
            android:name=".Ch_8_Navigation.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Ch_8_Navigation.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Ch_6_ViewControls.MainActivity_Ch6"
            android:exported="true" />
        <activity
            android:name=".Ch_10_ActivityLifeCycle.MainActivity_Ch10_1"
            android:exported="false" />
        <activity
            android:name=".Ch_10_ActivityLifeCycle.MainActivity_Ch10"
            android:exported="true" />
        <activity
            android:name=".Ch_5_ConstraintLayout.MainActivityCh5"
            android:exported="true" />
        <activity
            android:name=".Ch_4_RelativeLayout.MainActivity_Ch4"
            android:exported="true" />
        <activity
            android:name=".Ch_3_LInearLayout.MainActivity_Ch3"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>